@media all and (max-width: 428px){
.nav{
    display: none;
    &_logo{
        margin: 1.3rem 0;
        z-index: 30;
    }
}

.nav_mobile{
    background-color: #561f83;
    display: flex;
    flex-direction: column;
    z-index: 30;
    align-items: center;
    &_control{
        width: 100%;
        background-color: #f9288d;
        text-align: center;
        padding: 0.8rem;
    }
    input:checked  ~ ul{
        display:block;
      }
      
      input {
        display: none;
      }
      
      label {
        box-sizing: border-box;
        display: inline-block;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        border: 1px ;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        z-index: 30;
        color: white;
        font-size: 2rem;
      }
      
      
      /* Estilo del boton cuando el menú está expandido*/
      input:checked ~ label {
        background: #43bcf1; 
      }
     
      ul{
        display: none;
        margin-top:0;
        padding: 0;
        
    
      }
      
      
      li {
        display: block;
        background: #f9288d;
        margin: 0;
        padding: 10px;
        list-style: none;
        font-family: Karla;
        a{
            text-decoration: none;
            color: white;
         }
    
      }
      
      /*Estilo cuando el mouse pasa encima de cada link del menu*/
      li:hover {
        filter: brightness(110%);
        font-family: Karla;
      }
}
   


.banner{
    overflow: hidden;

    &__waves{
        margin-top: 0;
    }

    &__silloute{
        margin-top: 0;
    }

    &__city{
        margin-top: 7.5rem;
    }

    &__naming{
        margin-top: 9.5rem;
    }

    &__tittle{
        margin-top: 22rem;
        &__principal{
            font-size: 1.3rem;
            line-height: 22px;
            width: 100%;
        }

        &__copy{
            width: 100%;
        }
    }

    &__cloud{
        margin-top: 27.5rem;
    }
}

.aboutus{
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;

    &__simbol{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -15rem;
        &__inverse{
            padding: 0.5rem;
            margin-right: 0%;
        }
        &__tittle{
            font-size: 2.8rem;
            color: #561f83;
            margin-left: 0%;
            margin-top: 1rem;
            line-height: 2.5rem;
        }
    }

    &__block{
        width: 100%;
        text-align: center;
        padding: 0;

        &__star{
            display: none;
        }
    }

}

.lighting{
    flex-direction: column-reverse;
    width: 100%;
    &__block{
        display: flex;
        align-items: center;
        width: 90%;
        padding-right: 0%;
        &__paragraph{
            margin-left: 0%;
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    &__image{
        width: 100%;
    }


}

.chekckus{
    padding: 0%;
    &__tittle{
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

}

.Primary__button{
    margin-bottom: 2rem;
    border-radius: 4px;
}

.brands {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.footer{
    &__logo{
        margin-top: 7rem;
    }
    &__logo__simbol{
        width: 50%;
        
    }
}

}