@charset "UTF-8";
@media all and (max-width: 428px) {
  .nav {
    display: none;
  }
  .nav_logo {
    margin: 1.3rem 0;
    z-index: 30;
  }
  .nav_mobile {
    background-color: #561f83;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 30;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Estilo del boton cuando el menú está expandido*/
    /*Estilo cuando el mouse pasa encima de cada link del menu*/
  }
  .nav_mobile_control {
    width: 100%;
    background-color: #f9288d;
    text-align: center;
    padding: 0.8rem;
  }
  .nav_mobile input:checked ~ ul {
    display: block;
  }
  .nav_mobile input {
    display: none;
  }
  .nav_mobile label {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    border: 1px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 30;
    color: white;
    font-size: 2rem;
  }
  .nav_mobile input:checked ~ label {
    background: #43bcf1;
  }
  .nav_mobile ul {
    display: none;
    margin-top: 0;
    padding: 0;
  }
  .nav_mobile li {
    display: block;
    background: #f9288d;
    margin: 0;
    padding: 10px;
    list-style: none;
    font-family: Karla;
  }
  .nav_mobile li a {
    text-decoration: none;
    color: white;
  }
  .nav_mobile li:hover {
    -webkit-filter: brightness(110%);
            filter: brightness(110%);
    font-family: Karla;
  }
  .banner {
    overflow: hidden;
  }
  .banner__waves {
    margin-top: 0;
  }
  .banner__silloute {
    margin-top: 0;
  }
  .banner__city {
    margin-top: 7.5rem;
  }
  .banner__naming {
    margin-top: 9.5rem;
  }
  .banner__tittle {
    margin-top: 22rem;
  }
  .banner__tittle__principal {
    font-size: 1.3rem;
    line-height: 22px;
    width: 100%;
  }
  .banner__tittle__copy {
    width: 100%;
  }
  .banner__cloud {
    margin-top: 27.5rem;
  }
  .aboutus {
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutus__simbol {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -15rem;
  }
  .aboutus__simbol__inverse {
    padding: 0.5rem;
    margin-right: 0%;
  }
  .aboutus__simbol__tittle {
    font-size: 2.8rem;
    color: #561f83;
    margin-left: 0%;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
  .aboutus__block {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .aboutus__block__star {
    display: none;
  }
  .lighting {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .lighting__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    padding-right: 0%;
  }
  .lighting__block__paragraph {
    margin-left: 0%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .lighting__image {
    width: 100%;
  }
  .chekckus {
    padding: 0%;
  }
  .chekckus__tittle {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }
  .Primary__button {
    margin-bottom: 2rem;
    border-radius: 4px;
  }
  .brands {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    margin-top: 7rem;
  }
  .footer__logo__simbol {
    width: 50%;
  }
}
/*# sourceMappingURL=mobile.css.map */